/**
 * Basic
 * -----------------------------------------------------------------------------
 */

/**
 * CheckList - System fontはPCと同じか？
 Base font-size/line-height設定
 * -----------------------------------------------------------------------------
 */
 


/*-------------------------------------------------
	layout base 
-------------------------------------------------*/
#noscript_message{
	color:red;
	font-size:22px;
	line-height:1.5;
}
html, body {
	// height:100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input,textarea{
	padding: 0;
	background-color: inherit;
	border: none;
}

/*-------------------------------------------------
	text color and size
-------------------------------------------------*/
body, th, td, h1, h2, h3, h4, h5, h6, pre, input, textarea, option, div, p, dt, dd, li, address {
	font-family:Helvetica,Arial,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 24px;	
	font-weight: normal;
	font-style: normal;
	color:$textColor;
	letter-spacing:0.04em;
}
// TITLE TEXT
.font-h{
	@include fontsize(18px, 27px, #333);
}
// CONETNTS TEXT
.font-xs{
	@include fontsize(10px, 15px, #333);
}
.font-s{
	@include fontsize(12px, 18px, #333);
}
.font-m{
	@include fontsize(14px, 22px, #333);
}
.font-l{
	@include fontsize(16px, 24px, #333);
}
//TEXT COLOR
.font-white{
	color:white;
}
//TEXT WEIGHT
.font-bold{
	font-weight:bold;
}

// -----------------------------------------
// addbor
// -----------------------------------------
$borderColor : #4d4d4d;
.addbor{
  border-bottom:1px solid $borderColor !important;
}
.adtbor{
  border-top:1px solid $borderColor !important;
}
.adlbor{
  border-left:1px solid $borderColor !important;
}
.adrbor{
  border-right:1px solid $borderColor !important;
}
.nobbor{
  border-bottom:none !important;
}


/*-------------------------------------------------
 text link
 -------------------------------------------------*/
a {
	color:$linkColor;
	text-decoration:none;
}

a:visited {
	color:$linkColorV;
	text-decoration:none;
}

a:hover {
	color:$linkColorH;
	text-decoration:none;
}

/*-------------------------------------------------
	article
-------------------------------------------------*/

article{
	text-align:left;
}

/*-------------------------------------------------
	Box
-------------------------------------------------*/
.box-block{
	display:block;
	width:100%;
}

.box-inline{
	display:inline-block;
}

.box-none{
	display:none;
}

.section_wrap{
	width:81.25%;
	margin:0 auto;
	h2{
		text-align: center;
	}
}

.box-rel{
	position:relative;
}
.box-absolute{
	position:absolute;
}

/*-------------------------------------------------
	border
-------------------------------------------------*/
.nobbor{
	border-bottom:none;
}
.addbbor{
	border-bottom:1px solid #d4d4d4;
}
.addrbor{
	border-right:1px solid #d4d4d4;
}
.addlbor{
	border-left:1px solid #d4d4d4;
}
.addtbor{
	border-top:1px solid #d4d4d4;
}


