@charset "UTF-8";
/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Module
 * 3.0 - Basic
 * 4.0 - Header
 * 5.0 - Main
 * 7.0 - Footer
 * 8.0 - Print
 * -----------------------------------------------------------------------------
 */
/**
 * Setting
 * -----------------------------------------------------------------------------
 */
/**
 * Mixin
 * -----------------------------------------------------------------------------
 */
/**
 * Reset
 * -----------------------------------------------------------------------------
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/**
 * Module
 * -----------------------------------------------------------------------------
 */
.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb11 {
  margin-bottom: 11px; }

.mb14 {
  margin-bottom: 14px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.mb55 {
  margin-bottom: 55px; }

.mb60 {
  margin-bottom: 60px; }

.mb65 {
  margin-bottom: 65px; }

.mb70 {
  margin-bottom: 70px; }

.mb75 {
  margin-bottom: 75px; }

.mb80 {
  margin-bottom: 80px; }

.mb85 {
  margin-bottom: 85px; }

.mb90 {
  margin-bottom: 90px; }

.mb95 {
  margin-bottom: 95px; }

.mb100 {
  margin-bottom: 100px; }

.mr5 {
  margin-right: 5px; }

.mr9 {
  margin-right: 9px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.pt0 {
  padding-top: 0px !important; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.w1000 {
  width: 1000px;
  margin: 0 auto; }

.op a img, .op2 {
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s; }

.op a img:hover, .op2:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.flL {
  float: left; }

.flR {
  float: right; }

.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden; }

.clearfix {
  _height: 1px;
  min-height: 1px;
  /*・･*/
  /*/
  height: auto;
  overflow: hidden;
  /**/ }

.show_pc {
  display: block; }
  @media only screen and (max-width: 979px) {
    .show_pc {
      display: none; } }
  @media only screen and (max-width: 479px) {
    .show_pc {
      display: none; } }

.show_pctb {
  display: block; }
  @media only screen and (max-width: 979px) {
    .show_pctb {
      display: block; } }
  @media only screen and (max-width: 479px) {
    .show_pctb {
      display: none; } }

.show_tbsp {
  display: none; }
  @media only screen and (max-width: 979px) {
    .show_tbsp {
      display: block; } }
  @media only screen and (max-width: 479px) {
    .show_tbsp {
      display: block; } }

.show_tb {
  display: none; }
  @media only screen and (max-width: 979px) {
    .show_tb {
      display: block; } }
  @media only screen and (max-width: 479px) {
    .show_tb {
      display: none; } }

.show_sp {
  display: none; }
  @media only screen and (max-width: 979px) {
    .show_sp {
      display: none; } }
  @media only screen and (max-width: 479px) {
    .show_sp {
      display: block; } }

/*-------------------------------------------------
	border
-------------------------------------------------*/
.nobbor {
  border-bottom: none; }

.addbbor {
  border-bottom: 1px solid #d4d4d4; }

.addrbor {
  border-right: 1px solid #d4d4d4; }

.addlbor {
  border-left: 1px solid #d4d4d4; }

.addtbor {
  border-top: 1px solid #d4d4d4; }

/*-------------------------------------------------
	box
-------------------------------------------------*/
.box-block {
  width: 100%;
  margin: 0 auto;
  display: block; }

.box-table {
  width: 100%;
  margin: 0 auto;
  display: table; }

.circle-red, .caution span {
  background-color: #c84e57;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  display: inline-block; }

/*-------------------------------------------------
	TEXT
-------------------------------------------------*/
.text-m, .caution, .caution em {
  font-size: 12px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #4d4d4d; }

.caution {
  width: 100%;
  color: #4d4d4d; }
  .caution em {
    padding-left: 5px; }

/*-------------------------------------------------
	btn
-------------------------------------------------*/
.bg-cover {
  background-size: cover;
  background-position: center center; }

/**
 * Basic
 * -----------------------------------------------------------------------------
 */
/**
 * CheckList - System fontはPCと同じか？
 Base font-size/line-height設定
 * -----------------------------------------------------------------------------
 */
/*-------------------------------------------------
	layout base 
-------------------------------------------------*/
#noscript_message {
  color: red;
  font-size: 22px;
  line-height: 1.5; }

html, body {
  -webkit-text-size-adjust: 100%; }

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea {
  padding: 0;
  background-color: inherit;
  border: none; }

/*-------------------------------------------------
	text color and size
-------------------------------------------------*/
body, th, td, h1, h2, h3, h4, h5, h6, pre, input, textarea, option, div, p, dt, dd, li, address {
  font-family: Helvetica,Arial,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #4d4d4d;
  letter-spacing: 0.04em; }

.font-h {
  font-size: 18px;
  line-height: 27px;
  color: #333;
  font-weight: inherit;
  margin-top: -4.5px;
  margin-bottom: -4.5px; }

.font-xs {
  font-size: 10px;
  line-height: 15px;
  color: #333;
  font-weight: inherit;
  margin-top: -2.5px;
  margin-bottom: -2.5px; }

.font-s {
  font-size: 12px;
  line-height: 18px;
  color: #333;
  font-weight: inherit;
  margin-top: -3px;
  margin-bottom: -3px; }

.font-m {
  font-size: 14px;
  line-height: 22px;
  color: #333;
  font-weight: inherit;
  margin-top: -4px;
  margin-bottom: -4px; }

.font-l {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-weight: inherit;
  margin-top: -4px;
  margin-bottom: -4px; }

.font-white {
  color: white; }

.font-bold {
  font-weight: bold; }

.addbor {
  border-bottom: 1px solid #4d4d4d !important; }

.adtbor {
  border-top: 1px solid #4d4d4d !important; }

.adlbor {
  border-left: 1px solid #4d4d4d !important; }

.adrbor {
  border-right: 1px solid #4d4d4d !important; }

.nobbor {
  border-bottom: none !important; }

/*-------------------------------------------------
 text link
 -------------------------------------------------*/
a {
  color: #061540;
  text-decoration: none; }

a:visited {
  color: #061540;
  text-decoration: none; }

a:hover {
  color: #061540;
  text-decoration: none; }

/*-------------------------------------------------
	article
-------------------------------------------------*/
article {
  text-align: left; }

/*-------------------------------------------------
	Box
-------------------------------------------------*/
.box-block {
  display: block;
  width: 100%; }

.box-inline {
  display: inline-block; }

.box-none {
  display: none; }

.section_wrap {
  width: 81.25%;
  margin: 0 auto; }
  .section_wrap h2 {
    text-align: center; }

.box-rel {
  position: relative; }

.box-absolute {
  position: absolute; }

/*-------------------------------------------------
	border
-------------------------------------------------*/
.nobbor {
  border-bottom: none; }

.addbbor {
  border-bottom: 1px solid #d4d4d4; }

.addrbor {
  border-right: 1px solid #d4d4d4; }

.addlbor {
  border-left: 1px solid #d4d4d4; }

.addtbor {
  border-top: 1px solid #d4d4d4; }

/**
 * common
 * -----------------------------------------------------------------------------
 */
.cimg_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .cimg_wrap img.cimg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

/**
 * Footer
 * -----------------------------------------------------------------------------
 */
/**
 * Print
 * -----------------------------------------------------------------------------
 */