/**
 * Header
 * -----------------------------------------------------------------------------
 */


header{
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	position: relative;
	h1{
		position: absolute;
		top: 10px;
		left: 10px;
		display: block;
	}
	nav{
		position: absolute;
		top: 10px;
		right: 10px;
		ul{
			li{
				display: inline-block;
				padding: 10px;
			}
			&.gnav{
			
			}
			&.sns{
			
			}
		}
	}
}