/**
 * Setting
 * -----------------------------------------------------------------------------
 */

// 基本テキストカラー
$textColor : #4d4d4d;

// リンクカラー
$linkColor : #061540;

// ホバーリンクカラー
$linkColorH : #061540;

// 訪問済みリンクカラー
$linkColorV : #061540;

//　リンク色
$titColor:#061540;